<div class="main-container">
  <div class="backgorund-layer"></div>
  <div class="fliter-layer"></div>
  <div class="content-box">
    <div class="title-layer">
        <p>
            HI IAM <br> M.A.SHANAWAZ
        </p>
    </div>
    <div class="description">
        <p class="role">FULLSTACK DEVELOPER &nbsp; COMPETETITITVE PROGRAMMER eSPORTS GAMER
        </p>
        <p class="learn">
            Fullstack Development taught me to think creatively
            Competitive Programming taught me to think optimally and be patient
            ESports taught me to never go back on my words, belive in my self and never give up ! 
        </p>
        <P class="moto">IF YOU DONT LIKE THE HAND THAT FATE'S DEALT YOU WITH, FIGHT FOR THE NEW ONE, THATS MY MOTO !</P>
    </div>
    <div class="social-options"></div>
  </div>
</div>
